name: Build and Release
# will create linux and macos distributables and a release for them 
# when a new tag is pushed. 
on:
  push:
    tags:
     - 'v*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
        pip install -r requirements.txt
    - name: Build with pyinstaller
      run: pyinstaller --onefile -n cg-manage-rds cli.py
    - name: zip
      working-directory: dist
      run: zip cg-manage-rds.ubuntu-latest.x64.zip cg-manage-rds 
    - uses: actions/upload-artifact@v3
      with:
        name: linux
        path: dist/cg-manage-rds.ubuntu-latest.x64.zip
  
  build-mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
        pip install -r requirements.txt
    - name: Build with pyinstaller
      run: pyinstaller --onefile -n cg-manage-rds cli.py
    - name: zip
      working-directory: dist
      run: zip cg-manage-rds.macos-latest.x64.zip cg-manage-rds 
    - uses: actions/upload-artifact@v3
      with:
        name: macos
        path: dist/cg-manage-rds.macos-latest.x64.zip

  release:
    needs: 
    - build-linux
    - build-mac
    runs-on: ubuntu-latest
    steps:
    - name: Get Artifacts
      uses: actions/download-artifact@v3
      with:
        path: dist
    - name: Make Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          dist/linux/cg-manage-rds.ubuntu-latest.x64.zip
          dist/macos/cg-manage-rds.macos-latest.x64.zip

  update-formula:
      needs: release
      runs-on: ubuntu-latest
      steps:
        - name: get release info
          id: release_data
          uses: KevinRohn/github-full-release-data@v2.0
        - name: get tar.gz
          run: |
            curl -o source.tar.gz ${{ steps.release_data.outputs.tarball_url }}
            echo "# Generated by github bot in rbogle/cg-manage-rds" > cg-manage-rds.env
            echo "HOMEPAGE="https://github.com/rbogle/cg-manage-rds" >> cg-manage-rds.env
            echo "URL=${{ steps.release_data.outputs.tarball_url }}" >> cg-manage-rds.env
            echo "VERSION=${{ steps.release_data.outputs.tag }}" >> cg-manage-rds.env
            echo "SOURCE_SHA=$(shasum -a 256 ./source.tar.gz | awk '{print $1}')" >> cg-manage-rds.env
            cat cg-manage-rds.env
        - name: get hombrew repo
          uses: actions/checkout@v3
          with:
            repository: "rbogle/hombrew-cloudgov"
            path: homebrew
        - name: update versions
          run: mv cg-manage-rds.env homebrew/Versions/cg-manage-rds/cg-manage-rds.env
        - name: GitHub Commit & Push
          uses: actions-js/push@v1.3
          with:
            repository: "rbogle/hombrew-cloudgov"
            directory: homebrew
            github_token: ${{ secrets.ORG_PAT}}

